<!-- App home page -->
<div class="col-md-7">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Search</h4>
        </div>
        <div class="panel-body">
            <p>Please search thoroughly for name and address before creating a new client record.</p>

            <form class="form-horizontal" role="form">
              <div class="form-group">
                <label for="clientSearch" class="col-sm-4 control-label">Client Name/Address <i ng-show="loadingClients" class="glyphicon glyphicon-refresh"></i></label>
                <div class="col-sm-8">
                    <input id="clientSearch" type="text" ng-model="selected" class="form-control" placeholder="Search" 
                        typeahead="client as client.name for client in searchClients($viewValue) | filter:$viewValue" 
                        typeahead-min-length="2"
                        typeahead-wait-ms="150"
                        typeahead-template-url="customTemplate.html"
                        typeahead-loading="loadingClients" 
                        autofocus="true"
                        ng-enter="checkIn(selected.id)"
                         />
                        <!-- typeahead-on-select="checkIn(selected.id)" -->

                    <script type="text/ng-template" id="customTemplate.html">
                      <a>
                          <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span><br />
                          <span bind-html-unsafe="match.model.addr"></span>
                      </a>
                    </script>
                </div>
              </div>
              <div class="form-group text-center">
                <a class="btn btn-primary" href="#/client/{{selected.id}}" ng-disabled="!(selected.id)">Check In</a>
                <a class="btn btn-success" href="#/new_client/{{selected}}">New Client</a>
              </div>
            </form>
        </div>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="pull-right">
                <a class="btn btn-default" ng-click="refresh()"><i ng-class="{'fa': true, 'fa-refresh': true, 'fa-spin': callingOut}"></i></a>
            </div>
            <h4>Current Visitors</h4>
        </div>
        <div class="panel-body">
            <div ng-show="checkedInClients.length">
                <table class="table table-condensed text-center">
                    <thead>
                        <tr class="text-center" >
                            <th>Name</th>
                            <th class="text-center">Points</th>
                            <th class="text-center">Check-In Time</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="client in checkedInClients">
                            <th class="text-left" style="vertical-align:middle;">{{client.clientName}}</th>
                            <td style="vertical-align:middle;">{{client.pointsRemaining}}</td>
                            <td style="vertical-align:middle;">{{client.checkInTime | date:'shortTime'}}
                                <span ng-show="client.checkinNotToday">
                                    ({{client.checkInTime | date:'MMM d'}})
                                </span>
                            </td>
                            <td ng-controller="checkInController" >
                                <a ng-href="#/log_visit/{{client.clientId}}" class="btn btn-sm btn-success">Check Out</a>
                                <a ng-click="cancelCheckIn()" class="btn btn-sm">Cancel</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div ng-show="checkedInClients && !checkedInClients.length">
                <i>No clients are checked in.</i>
            </div>
        </div>
    </div>
</div>
<div class="col-md-5">
    <div ng-include="basePath + '/app/home/stats.html'"></div>
</div>
