<div ng-controller="statsController">

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="btn-group pull-right" style="margin-left:8px">
                <a class="btn btn-warning" href="FoodBankStats?tf={{timeframe}}&tfcode={{timeframeCode}}" target="_blank"><span class="glyphicon glyphicon-print"></span> PDF</a>
            </div>
            <div id="statTimeframe" class="btn-group pull-right" >
                <button type="button" class="btn btn-primary dropdown-toggle" data-animation="am-flip-x"
                        bs-dropdown="statsDropdown" ng-disabled="calculating">
                    <span id="timeframeValue">{{timeframe}}</span> <span class="caret"></span>
                </button>
            </div>
            <h4>Statistics</h4>
        </div>
        <div class="panel-body">

          <h5 style="margin-bottom:0;"><i>Households Served</i></h5>
          <table class="table table-condensed text-center small">
            <thead>
                <tr class="text-center" >
                    <th style="width:28%"></th>
                    <th class="text-center">First Visit</th>
                    <th class="text-center">Duplicated</th>
                    <th class="text-center">Total</th>
                </tr>
            </thead>
            <tbody>
                <tr data-field="onePerson">
                    <th class="text-right">One Person</th>
                    <td ng-repeat="t in [0,1,2]">{{stats.onePerson[t]}}</td>
                </tr>
                <tr data-field="overOnePerson">
                    <th class="text-right">More Than One</th>
                    <td ng-repeat="t in [0,1,2]">{{stats.overOnePerson[t]}}</td>
                </tr>
            </tbody>
            <tfooter>
                <tr data-field="hhVisits">
                    <th class="text-right">Total</th>
                    <td ng-repeat="t in [0,1,2]">{{stats.hhVisits[t]}}</td>
                </tr>
            </tfooter>
          </table>

          <h5 style="margin-bottom:0;"><i>Individuals Served</i></h5>
          <table class="table table-condensed text-center small">
            <thead>
                <tr class="text-center">
                    <th style="width:28%"></th>
                    <th class="text-center">First Visit</th>
                    <th class="text-center">Duplicated</th>
                    <th class="text-center">Total</th>
                </tr>
            </thead>
            <tbody>
                <tr data-field="adults">
                    <th class="text-right">Adults</th>
                    <td ng-repeat="t in [0,1,2]">{{stats.adults[t]}}</td>
                </tr>
                <tr data-field="children">
                    <th class="text-right">Children</th>
                    <td ng-repeat="t in [0,1,2]">{{stats.children[t]}}</td>
                </tr>
                <tr data-field="infants">
                    <th class="text-right">Infants</th>
                    <td ng-repeat="t in [0,1,2]">{{stats.infants[t]}}</td>
                </tr>
                <tr data-field="seniors">
                    <th class="text-right">Seniors</th>
                    <td ng-repeat="t in [0,1,2]">{{stats.seniors[t]}}</td>
                </tr>
            </tbody>
            <tfooter>
                <tr data-field="total">
                    <th class="text-right">Total</th>
                    <td ng-repeat="t in [0,1,2]" class="text-center">{{stats.total[t]}}</td>
                </tr>
                <tr data-field="homeless">
                    <th class="text-right" style="padding-top:9px;">Homeless</th>
                    <td ng-repeat="t in [0,1,2]" class="text-center" style="padding-top:10px;">{{stats.homeless[t]}}</td>
                </tr>
            </tfooter>
          </table>
          <div ng-if="settings.general.trackPoints">
            <h5><i>Distribution Summary</i></h5>

            <dl class="dl-horizontal">
              <dt>Total Points Used</dt>
              <dd data-field="pointsUsed">{{stats.pointsUsed}}</dd>
            </dl>
          </div>
        </div>
    </div>
</div>