<div class="panel" ng-class="{ 'panel-default': !status.editingAddress, 'panel-warning': status.editingAddress }"
    ng-controller="addressController">

    <div class="panel-heading">
        <div class="row">
            <div class="col-sm-6">
                Address &amp; Phone
            </div>
            <div class="col-sm-6 text-right">
                <span class="label label-danger" ng-if="!status.editingAddress && status.proofOfAddressNeeded()"
                    ng-click="editAddress();" style="cursor:pointer;">Proof of Address Required</span>

                <button class="btn btn-success btn-sm panel-button"
                    ng-click="editAddress();" ng-if="!status.editingAddress"><i style="line-height: 1.3em;" class="fa fa-pencil"></i></button>

                <button class="btn btn-success btn-sm panel-button"
                    ng-click="saveAddress()" ng-if="status.editingAddress"
                    ng-disabled="status.savingAddress">Save<i ng-if="status.savingAddress"
                    class="fa fa-refresh fa-spin" style="margin-left:6px;"></i></button>

                <button class="btn btn-sm panel-button"
                    ng-click="cancelAddress();" ng-if="status.editingAddress"
                    ng-disabled="status.savingAddress"><span class="glyphicon glyphicon-remove" style="line-height: 1.3em;"></span></button>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div ng-if="!status.editingAddress" style="font-size:15px;">
            <p>{{data.household.fullAddress}}</p>
            <p style="margin-top:-8px;">{{data.household.phone}}</p>
        </div>
        <div ng-if="status.editingAddress">
            <div class="form-group col-sm-8">
                <label>Address</label>
                <input type="text" class="form-control" name="address" placeholder="0000 Main St"
                    ng-maxlength="50" ng-model="data.addressData.address" ng-disabled="data.addressData.homeless">
            </div>
            <div class="form-group col-sm-4 text-left">
                <input type="checkbox" name="homeless" ng-model="data.addressData.homeless"></input>&nbsp;
                <label>Homeless</label>
            </div>
            <div class="form-group col-sm-4 text-left">
                <input type="checkbox" name="outofarea" ng-model="data.addressData.outofarea"></input>&nbsp;
                <label>Out of Area</label>
            </div>
            <div class="form-group col-sm-6">
                <label>City</label>
                <input type="text" class="form-control" name="city" placeholder="Anytown"
                    ng-maxlength="50" ng-model="data.addressData.city">
            </div>
            <div class="form-group col-sm-2">
                <label>St</label>
                <input type="text" class="form-control" name="state" placeholder="US"
                    ng-maxlength="50" ng-model="data.addressData.state">
            </div>
            <div class="form-group col-sm-4">
                <label>Zip</label>
                <input type="text" class="form-control" name="postalCode" placeholder="00000"
                    ng-maxlength="20" ng-model="data.addressData.postalCode">
            </div>
            <div class="form-group col-sm-6">
                <label>Phone</label>
                <input type="text" class="form-control" name="phone" placeholder="(000) 000-0000"
                    ng-maxlength="50" ng-model="data.addressData.phone">
            </div>
            <div ng-class="{'form-group':true, 'col-sm-6':true, 'has-error': status.proofOfAddressNeeded()}"
                    ng-show="settings.general.proofOfAddressRequired">

                <label class="control-label" >Proof of Address</label>
                <input type="text" class="form-control" name="proof" placeholder="Initials / type of proof"
                    ng-maxlength="50" ng-model="data.addressData.proofOfAddress">
            </div>
        </div>
    </div>
</div>
