<!-- Client check-in page -->
<div class="col-md-12" id="checkInBox">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-7">
                    <div ng-show="data.household">
                        <h3 style="margin-top:8px;">{{data.household.name}}</h3>
                        <p ng-if="data.household.totalVisits">
                            Client Since {{data.household.firstVisitDate | date:'yyyy'}}<br />
                            Most Recent Visit: 
                            <span style="font-weight:500">{{data.household.mostRecentVisitDate | date:'MMMM dd, yyyy \'at\' h:mm a'}}</span>
                        </p>
                        <p ng-if="!data.household.totalVisits">
                            First-time Visitor
                        </p>
                    </div>
                </div>
             </div>
        </div>
        <div class="panel-btnbar text-center" ng-show="data.household">
            <a ng-if="settings.general.checkInRequired" class="btn btn-primary" ng-click="checkIn()" ng-disabled="status.loading || (data.ptsRemaining == 0)">Check In</a>
            <a class="btn btn-success" ng-click="recordVisit()" ng-disabled="status.loading || (data.ptsRemaining == 0)">Record Visit</a>
            <a class="btn btn-info" ng-click="fullView()">Full View...</a>
            <a class="btn btn-info" ng-click="scheduleAppointment()">Schedule...</a>
            <a class="btn btn-default" ng-click="cancelEdit()">Cancel</a>
        </div>
        <div class="panel-body" ng-show="data.household">
            <div ng-if="visitorWarningMsg()" class="col-md-12">
                <div class="alert alert-danger" role="alert">
                  <span class="glyphicon glyphicon-exclamation-sign"></span>
                  <span class="sr-only">Warning:</span>
                  {{visitorWarningMsg()}}
                </div>
            </div>
            <div class="col-lg-8">
                <div ng-include="basePath + '/app/client/address.html'"></div>
                <div ng-include="basePath + '/app/client/members.html'"></div>
                <div ng-include="basePath + '/app/client/notes.html'" ng-if="data.commodities || settings.general.trackPoints"></div>
                <div ng-include="basePath + '/app/client/history.html'"></div>
                <div ng-include="basePath + '/app/client/tags.html'" ng-if="settings.tags"></div>
                <div ng-include="basePath + '/app/client/available.html'" ng-if="data.commodities || settings.general.trackPoints"></div>
                <div ng-include="basePath + '/app/client/notes.html'" ng-if="!(data.commodities || settings.general.trackPoints)"></div>
            </div>
        </div>
        <div class="panel-footer text-center" ng-show="data.household">
            <a ng-if="settings.general.checkInRequired" class="btn btn-primary" ng-click="checkIn()" ng-disabled="status.loading || (data.ptsRemaining == 0)">Check In</a>
            <a class="btn btn-success" ng-href="#/log_visit/{{data.household.id}}/{{contactid}}" ng-disabled="status.loading || (data.ptsRemaining == 0)">Record Visit</a>
            <a class="btn btn-info" ng-click="fullView()">Full View...</a>
            <a class="btn btn-info" ng-click="scheduleAppointment()">Schedule...</a>
            <a class="btn btn-default" ng-click="cancelEdit()">Cancel</a>
        </div>
    </div>
</div>