<div class="modal bootstrap" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header" ng-show="title">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title">{{title}}</h4>
      </div>
      
      <form name="partForm" role="form" class="form-horizontal" ng-submit="saveParticipation($event)">
        <div class="modal-body">

			<button class="btn btn-danger" ng-click="deleteClient()" 
				ng-disabled="status.savingAddress">Delete Client<i ng-show="status.savingAddress" 
			    class="fa fa-refresh fa-spin" style="margin-left:6px;"></i></button>

			<button class="btn btn-warning" ng-click="moveClient()">Move to New Household</button>

			<button class="btn"
			    ng-click="$close();"
			    ng-disabled="status.savingAddress">Cancel<span class="glyphicon glyphicon-remove" 
			    style="line-height: 1.3em;"></span></button>

		</div>
	  </form>
	</div>
  </div>
</div>
