<accordion>
    <div style="margin-bottom:8px;">
        <accordion-group is-open="status.historyOpen">
            <accordion-heading>
                <div style="padding-top:4px; padding-bottom: 6px;" ng-click="queryVisits();">
                    Visit History <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.historyOpen, 'glyphicon-chevron-right': !status.historyOpen}"></i>
                </div>
            </accordion-heading>
            <span ng-show="!status.queriedVisits">
                <i class="fa fa-refresh fa-spin"></i> Loading...
            </span>
            <span ng-show="status.queriedVisits && data.visits.length == 0">
                <em>No previous visits.</em>
            </span>
            <table class="table table-condensed" ng-show="status.queriedVisits && data.visits.length > 0">
                <thead>
                    <tr>
                        <th style="min-width:148px;">Date</th>
                        <th class="text-center">Points Used</th>
                        <th>Notes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="visit in data.visits" >
                        <td>{{visit.date | date:'MMMM dd, yyyy' }}</td>
                        <td class="text-center">{{visit.ptsUsed}}</td>
                        <td>{{visit.notes}}</td>
                    </tr>
                </tbody>
            </table>
        </accordion-group>
    </div>
</accordion>
