<div class="panel" ng-class="{ 'panel-default': !status.editingMembers, 'panel-warning': status.editingMembers }"
    ng-controller="memberListController" >

    <div class="panel-heading">
        <div class="row">
            <div class="col-sm-6">
                Household Members <span ng-if="!status.editingMembers && data.household.totalMembers > 0">({{data.household.totalMembers}})</span>
            </div>
            <div class="col-sm-6 text-right">
                <span class="label label-danger" ng-if="!status.editingMembers && status.proofOfInfantNeeded()"
                    ng-click="editMembers();" style="cursor:pointer;">Proof of Infant Required</span>

                <button class="btn btn-success btn-sm panel-button"
                    ng-click="editMembers();" ng-if="!status.editingMembers"><i class="fa fa-pencil" style="line-height: 1.3em;"></i></button>

                <button class="btn btn-success btn-sm panel-button"
                    ng-click="saveMembers()" ng-if="status.editingMembers"
                    ng-disabled="status.savingMembers">Save</span><i ng-if="status.savingMembers"
                    class="fa fa-refresh fa-spin" style="margin-left:6px;"></i></button>

                <button class="btn btn-sm panel-button"
                    ng-click="cancelMembers();" ng-if="status.editingMembers"
                    ng-disabled="status.savingMembers"><span class="glyphicon glyphicon-remove" style="line-height: 1.3em;"></span></button>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <form name="householdForm">
            <label class="col-sm-2 control-label">Household Composition</label>
            <div class="col-sm-3">
                <select ng-model="data.householdComposition" class="form-control input-sm"
                    name="visitType" 
                    ng-options="g for g in ['Select Option', 'Household with Minors', 'Other Related', 'Partnered/Married', 'Single Female', 'Single Female Parent', 'Single Male', 'Single Male Parent', 'Single Unknown', 'Two Parent', 'Unknown']">
                </select>
            </div>
        </form>
    </div>    
    <div class="panel-body">
        <table class="table table-condensed" style="margin-bottom:12px;">
            <thead>
                <tr>
                    <th style="width:14%">Status</th>
                    <th style="width:30%" ng-if="!status.editingMembers">Name</th>
                    <th style="width:15%" ng-if="status.editingMembers">First</th>
                    <th style="width:15%" ng-if="status.editingMembers">Last</th>
                    <th style="width:14%">Gender</th>
                    <th style="width:15%" ng-if="status.editingMembers" ng-show="settings.general.showIdNumber">Id</th>
                    <th style="width:12%">Group</th>
                    <th style="width:11%" ng-if="status.editingMembers && status.hasInfant()">Proof of Infant</th>
                    <th style="width:11%">Age</th>
                    <th style="width:25%">Birthdate</th>
<!--                                    
                    <th style="width:5%"></th>
-->
                </tr>
            </thead>
            <tbody>
                <tr class="{success: person.memberData.age >= 18, warning: person.memberData.age < 18}"
                        ng-repeat="person in data.memberList" >

                    <td bgcolor="#FF0000" ng-if="!status.editingMembers && person.memberData.inactive == 'Inactive'">{{person.memberData.inactive}}</td>
                    <td ng-if="!status.editingMembers && person.memberData.inactive == 'Active'">{{person.memberData.inactive}}</td>
                    <td ng-if="!status.editingMembers">{{person.memberData.name}}</td>
                    <td ng-if="!status.editingMembers">{{person.memberData.gender}}</td>
                    <td ng-if="!status.editingMembers">{{person.memberData.ageGroup}}</td>
                    <td ng-if="!status.editingMembers">{{person.memberData.age}}</td>
                    <td ng-if="!status.editingMembers">
                        {{checkBirthdate(person.memberData.birthdate) | date:'M/dd/yyyy'}}</td>

                    <td ng-if="status.editingMembers">
                        <select ng-model="person.memberDataEditable.inactive" class="form-control input-sm"
                            name="inactive" ng-options="i for i in ['Active','Inactive']">
                            <option value="">-</option>
                        </select>
                    </td>
                    <td ng-if="status.editingMembers">
                        <input ng-model="person.memberDataEditable.firstName" type="text" class="form-control input-sm"
                            name="firstname" ng-maxlength="50" ng-setfocus="$last">
                    </td>
                    <td ng-if="status.editingMembers">
                        <input ng-model="person.memberDataEditable.lastName" type="text" class="form-control input-sm"
                            name="lastname" ng-maxlength="50" ng-required>
                    </td>
                    <td ng-if="status.editingMembers">
                        <select ng-model="person.memberDataEditable.gender" class="form-control input-sm"
                            name="gender" ng-options="g for g in ['Male','Female','Other','Unknown']">
                            <option value="">-</option>
                        </select>
                    </td>
                    <td ng-if="status.editingMembers" ng-show="settings.general.showIdNumber">
                        <input ng-model="person.memberDataEditable.Id_Number" type="text" class="form-control input-sm"
                            name="Id_Number" ng-maxlength="50" ng-required>
                    </td>
                    <td ng-if="status.editingMembers">
                        <select ng-model="person.memberDataEditable.ageGroup" class="form-control input-sm"
                            name="ageGroup" ng-options="g for g in ['Adult','Senior','Child','Infant']">
                            <option value="">-</option>
                        </select>
                    </td>
                    <td ng-if="status.editingMembers && status.hasInfant()" ng-class="{'has-error': status.proofOfInfantNeeded()}">
                        <input ng-if="person.memberDataEditable.ageGroup === 'Infant'"
                          ng-model="person.memberDataEditable.proofOfInfant"
                          type="text" class="form-control input-sm" name="proofOfInfant" ng-maxlength="50">
                    </td>
                    <td ng-if="status.editingMembers">
                        <input ng-model="person.memberDataEditable.age" type="number" class="form-control input-sm"
                            name="age">
                    </td>
                    <td ng-if="status.editingMembers">
                        <input class="form-control input-sm"
                            type="date"
                            ng-model="person.memberDataEditable.birthdate"
                            placeholder="M/dd/yyyy" min="1900-01-01" required />
                    </td>
                    <td ng-if="false && status.editingMembers && data.memberList.length > 1" class="text-right">
                        <button class="btn btn-danger btn-sm"
                            style="font-size: 12px; padding: 6px 4px 4px 6px; position: relative; right: -15px;"
                            ng-click="deleteMember( $index );"
                            ng-if="status.editingMembers"><i class="fa fa-minus"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div>
            <button class="btn btn-success btn-sm panel-button"
                ng-click="addMember()" ng-if="status.editingMembers"
                ng-disabled="status.savingMembers">Add member</span>&nbsp;<i class="fa fa-plus"></i></button>
        </div>
    </div>
</div>
