<div class="panel" ng-class="{ 'panel-default': !status.editingMembers, 'panel-warning': status.editingMembers }"
    ng-controller="memberListController" >

    <div class="panel-heading">
        <div class="row">
            <div class="col-sm-6">
                Household Members <span ng-if="!status.editingMembers && data.household.totalMembers > 0">({{data.household.totalMembers}})</span>
            </div>
            <div class="col-sm-6 text-right">
                <span class="label label-danger" ng-if="!status.editingMembers && status.proofOfInfantNeeded()"
                    ng-click="editMembers();" style="cursor:pointer;">Proof of Infant Required</span>

                <button class="btn btn-success btn-sm panel-button"
                    ng-click="editMembers();" ng-if="!status.editingMembers"><i class="fa fa-pencil" style="line-height: 1.3em;"></i></button>

                <button class="btn btn-success btn-sm panel-button"
                    ng-click="saveMembers()" ng-if="status.editingMembers"
                    ng-disabled="status.savingMembers">Save</span><i ng-if="status.savingMembers"
                    class="fa fa-refresh fa-spin" style="margin-left:6px;"></i></button>

                <button class="btn btn-sm panel-button"
                    ng-click="cancelMembers();" ng-if="status.editingMembers"
                    ng-disabled="status.savingMembers"><span class="glyphicon glyphicon-remove" style="line-height: 1.3em;"></span></button>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <table class="table table-condensed" style="margin-bottom:12px;">
            <thead>
                <tr>
                    <th ng-if="!status.editingMembers">Name</th>
                    <th ng-if="status.editingMembers">First Name</th>
                    <th ng-if="status.editingMembers">Last Name</th>
                    <th class="text-center">Age&nbsp;Group</th>
                    <th class="text-center">Age</th>
                    <!-- <th class="text-center">Birthdate</th> -->
                    <th ng-if="status.editingMembers && status.hasInfant()" class="text-center">Proof&nbsp;of&nbsp;Infant</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr class="{success: person.memberData.age >= 18, warning: person.memberData.age < 18}"
                        ng-repeat="person in data.memberList" >

                    <td ng-if="!status.editingMembers">{{person.memberData.name}}</td>
                    <td ng-if="!status.editingMembers" class="text-center">{{person.memberData.ageGroup}}</td>
                    <td ng-if="!status.editingMembers" class="text-center">{{person.memberData.age}}</td>
                    <!-- <td ng-if="!status.editingMembers" class="text-center">
                        {{person.memberData.birthdate | date:'M/dd/yyyy'}}</td> -->

                    <td ng-if="status.editingMembers">
                        <input ng-model="person.memberDataEditable.firstName" type="text" class="form-control input-sm"
                            name="firstname" ng-maxlength="50" ng-setfocus="$last">
                    </td>
                    <td ng-if="status.editingMembers">
                        <input ng-model="person.memberDataEditable.lastName" type="text" class="form-control input-sm"
                            name="lastname" ng-maxlength="50" ng-required>
                    </td>
                    <td ng-if="status.editingMembers" class="text-center">
                        <select ng-model="person.memberDataEditable.ageGroup" class="form-control input-sm"
                            name="ageGroup" ng-options="g for g in ['Adult','Senior','Child','Infant']">
                            <option value="">-Select-</option>
                        </select>
                    </td>
                    <td ng-if="status.editingMembers" class="text-center" style="width:50px;">
                        <input ng-model="person.memberDataEditable.age" type="number" class="form-control input-sm"
                            name="age" style="width:50px;">
                    </td>
                    <!-- <td ng-if="status.editingMembers" class="text-center" style="width:70px;">
                        <span class="input-group" ng-controller="datepickerCtrl">
                          <input type="text" class="form-control input-sm" datepicker-popup="M/dd/yyyy"
                            ng-model="person.memberDataEditable.birthdate" is-open="status.calOpen"
                            min="'1900-01-01'" show-weeks="false" show-button-bar="false"
                            close-text="Close" style="min-width:80px;"/>
                          <span class="input-group-btn">
                            <button class="btn btn-default" ng-click="open($event)" style="padding: 4px 10px;"><i class="glyphicon glyphicon-calendar"></i></button>
                          </span>
                        </span>
                    </td> -->
                    <td ng-if="status.editingMembers && status.hasInfant()" ng-class="{'has-error': status.proofOfInfantNeeded()}">
                        <input ng-if="person.memberDataEditable.ageGroup === 'Infant'"
                          ng-model="person.memberDataEditable.proofOfInfant"
                          type="text" class="form-control input-sm" name="proofOfInfant" ng-maxlength="50">
                    </td>
                    <td ng-if="status.editingMembers && data.memberList.length > 1" class="text-right">
                        <button class="btn btn-danger btn-sm"
                            style="font-size: 12px; padding: 5px 6px 4px 6px"
                            ng-click="deleteMember( $index );"
                            ng-if="status.editingMembers"><i class="fa fa-minus"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div>
            <button class="btn btn-success btn-sm panel-button"
                ng-click="addMember()" ng-if="status.editingMembers"
                ng-disabled="status.savingMembers">Add member</span>&nbsp;<i class="fa fa-plus"></i></button>
        </div>
    </div>
</div>
