<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-sm-6">
                Visit Details
            </div>
        </div>
    </div>
    <div class="panel-body">
        <form name="visitForm">
            <label class="col-sm-2 control-label">Visit Type</label>
            <div class="col-sm-3">
                <select ng-model="data.visitType" class="form-control input-sm"
                    name="visitType" 
                    ng-options="g for g in ['Select Option', 'Baby Pantry', 'Food Bank', 'Mobile']">
                </select>
            </div>
            <label class="col-sm-2 control-label">Visit Date</label>
            <div class="col-sm-3">
                <input class="form-control input-sm"
                    type="date"
                    style="width:100px"
                    ng-model="data.visitDate"
                    placeholder="M/dd/yyyy" min="1900-01-01" required />
            </div>
        </form>
    </div>
</div>