<!-- Log visit page -->
<div class="col-md-12" id="checkInBox">
    <form name="visitForm">
        <div class="panel panel-info">
            <div class="panel-heading" >

                <div class="btn-group pull-right" style="margin-top:12px;" ng-show="data.household">
                    <a class="btn btn-success" href="#/edit_client/{{data.household.id}}/log_visit">Edit Client
                        &nbsp;<i class="fa fa-edit"></i></a>
                </div>

                <h4>Record Client Visit</h4>

                <p ng-show="data.household">{{data.household.name}}<br>
                    {{data.household.fullAddress}}<br />
                    {{data.household.phone}}</p>
                </p>
            </div>
            <div class="panel-btnbar text-center">
                <a class="btn btn-success" ng-click="recordVisit();" ng-disabled="logging || (pointsRemaining == 0)" >
                    Record Visit
                    <i ng-show="logging" class="fa fa-refresh fa-spin"></i>
                </a>
                <a class="btn btn-default" ng-href="#/">Cancel</a>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-7">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Visit Detail
                            </div>
                            <div class="panel-body" style="padding-right:16px;" ng-show="data.household">
                                <dl class="dl-horizontal" ng-if="settings.boxes" >
                                  <dt style="margin-top:5px;">{{Label_Box_Type}}</dt>
                                  <dd>
                                    <div class="input-group" style="width:14em;">
                                      <select class="form-control" autofocus="autofocus" ng-model="boxType" 
                                            ng-options="box.name as box.name for box in settings.boxes"></select>
                                    </div>
                                  </dd>
                                </dl>
                                <dl class="dl-horizontal" ng-show="settings.general.trackCheckoutWeight" >
                                    <dt style="margin-top:5px;">Checkout Weight</dt>
                                    <dd>
                                      <div ng-class="{ 'input-group': true, 'input-group-small': true, 'has-error': visitForm.checkoutWeight.$invalid }">
                                          <input class="form-control" type="decimal" ng-model="checkoutWeight" min="0.00" max="999.00" 
                                              autofocus="autofocus" required="required" name="checkoutWeight" ></input>
                                          <span ng-show="visitForm.checkoutWeight.$error.required" class="help-block">Please enter a number</span>
                                          <span ng-show="visitForm.checkoutWeight.$error.min" class="help-block">Checkout weight cannot be negative</span>
                                      </div>
                                    </dd>
                                  </dl>
                                <dl class="dl-horizontal" style="margin-top:12px;" ng-if="settings.general.trackPoints" >
                                  <dt>Points Available</dt>
                                  <dd>
                                    <div class="progress" ng-show="ptsRemaining > 0 && ratio >= 25">
                                      <div class="progress-bar progress-bar-success" 
                                            role="progressbar" aria-valuenow="{{ratio}}" aria-valuemin="0" aria-valuemax="100" 
                                            style="width: {{ratio}}%;">
                                        <span class="sr-only" style="position:static;">
                                            {{ptsRemaining}} / {{ptsMonthly}}
                                        </span>
                                      </div>
                                    </div>
                                    <div class="progress" ng-show="ptsRemaining > 0 && ratio < 25">
                                      <div class="progress-bar progress-bar-warning" 
                                            role="progressbar" aria-valuenow="{{ratio}}" aria-valuemin="0" aria-valuemax="100" 
                                            style="width: {{ratio}}%;">
                                        <span class="sr-only" style="position:static;">
                                            {{ptsRemaining}}
                                        </span>
                                      </div>
                                    </div>
                                    <div class="progress" ng-show="ptsRemaining == 0">
                                      <div class="progress-bar progress-bar-danger" 
                                            role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" 
                                            style="width: 100%;">
                                        <span class="sr-only" style="position:static;">0 / {{ptsMonthly}}</span>
                                      </div>
                                    </div>
                                  </dd>
                                </dl>
                                <dl class="dl-horizontal" ng-show="settings.general.trackPoints" >
                                  <dt style="margin-top:5px;">Points Used Today</dt>
                                  <dd>
                                    <div ng-class="{ 'input-group': true, 'input-group-small': true, 'has-error': visitForm.ptsUsed.$invalid }">
                                        <input class="form-control" type="number" ng-model="ptsUsed" min="0" max="{{ptsRemaining}}" 
                                            autofocus="autofocus" required="required" name="ptsUsed" ></input>
                                        <span ng-show="visitForm.ptsUsed.$error.required" class="help-block">Please enter a number</span>
                                        <span ng-show="visitForm.ptsUsed.$error.min" class="help-block">Points cannot be negative</span>
                                        <span ng-show="visitForm.ptsUsed.$error.max" class="help-block">There are only {{ptsRemaining}} points available</span>
                                      <!-- <select class="form-control" autofocus="autofocus" ng-model="ptsUsed" 
                                            ng-options="v for v in rangeFromZeroTo(ptsRemaining)"></select> -->
                                    </div>
                                  </dd>
                                </dl>
                                <dl class="dl-horizontal">
                                <dt style="margin-top:5px;">Visit Notes</dt>
                                    <dd>
                                        <textarea class="form-control" style="height:7em;" ng-model="visitNotes"></textarea>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5" ng-if="commodities">
                        <div class="panel panel-default">
                            <div class="panel-heading">Commodities</div>
                            <div class="panel-body" ng-show="data.household">
                                <table class="table table-condensed" style="vertical-align:middle; font-size:13px; margin-top: 6px;">
                                    <thead>
                                        <tr>
                                            <th>Item</th>
                                            <th class="text-center">Available</th>
                                            <th>Used Today</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="comm in commodities" 
                                            ng-class="{danger: !comm.remaining, warning: (comm.remaining > 0 && comm.remaining < comm.monthlyLimit)}"
                                            ng-form="commForm">
                                            
                                            <td style="vertical-align: middle;">{{comm.name}}</td>
                                            <td class="text-center" style="vertical-align: middle;">{{comm.remaining}}</td>
                                            <td>
                                                <div ng-class="{ 'input-group': true, 'input-group-sm': true, 'has-error': commForm.ptsUsed.$invalid }">
                                                    <input class="form-control input-sm" type="number" 
                                                        ng-model="comm.ptsUsed" min="0" max="{{comm.remaining}}" name="ptsUsed"
                                                        required="required" ></input>
                                                    <span ng-show="commForm.ptsUsed.$error.required" class="help-block">Enter a number</span>
                                                    <span ng-show="commForm.ptsUsed.$error.min" class="help-block">Cannot be negative</span>
                                                    <span ng-show="commForm.ptsUsed.$error.max" class="help-block">Only {{comm.remaining}} available</span>
                                                    <!--<select class="form-control" ng-model="comm.ptsUsed" 
                                                        ng-options="v for v in rangeFromZeroTo(comm.remaining)" style="height:30px;" ng-disabled="!comm.remaining"></select> -->
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>   
            <div class="panel-footer text-center">
                <a class="btn btn-success" ng-click="recordVisit();" ng-disabled="logging || (pointsRemaining == 0) || visitForm.$invalid || commForm.$invalid" >
                    Record Visit
                    <i ng-show="logging" class="fa fa-refresh fa-spin"></i>
                </a>
                <a class="btn btn-default" ng-href="#/">Cancel</a>
            </div>
        </div>
    </form>
</div>

